/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@87.5,200..900&display=swap'); 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #0a192f;
}

li, a, button {
    font-family: "Inconsolata", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #64ffda;
    text-decoration: none;
}

/*Styling for header*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.cta {
    margin-right: auto;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9
}

button {
    padding: 9px 25px;
    background-color: #1e3557;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #2a486b;
}